<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a class="navbar-brand" href="/">Ducklink Dećor</a>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                   <li><a href="/customer/browselistings">Browse Listings</a></li>
                      <li><a href="/customer/cart">Cart</a></li>
                    <li><a href="/customerlogin">Sign In As Customer</a></li>
                    <li><a href="/sellerlogin">Sign In As Seller</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>© 2024 WebApp. All Rights Reserved.</p>
    </footer>
</body>
</html>
