<h1>Browse Listings</h1>
<div class="listingsContainer">
	<div class="listing-item">
		<img
			src="itemImageURL"
			alt="itemName"
			class="listing-image"
			id="listingimage"
		/>
		<h2>itemName</h2>
		<p>itemDescription</p>
		<p>Price: $itemPrice</p>
		<p>Category: itemCategory</p>
		<p>Condition: condition</p>
		<p>Seller ID: sellerId</p>
		<button class="btn-add-to-cart">Add to Cart</button>
	</div>
</div>