<h1>Browse Listings</h1>

<div class="listings-header">
	<span>Item Image</span>
	<span>Item Name</span>
	<span>Item Description</span>
	<span>Price</span>
	<span>Category</span>
	<span>Condition</span>
	<span>Seller ID</span>
	<span>Action</span>
</div>

<div class="listings-container" id="listingsContainer">
</div>