<script src="/public/js/script.js"></script>
<h1>Browse Listings</h1>

<div class="listings-header">
        <span>Item Image</span>
        <span>Item Name</span>
        <span>Item Description</span>
        <span>Price</span>
        <span>Category</span>
        <span>Condition</span>
        <span>Seller ID</span>
        <span>Action</span>
    </div>

<div class="listings-container">
    <img src="itemImageURL" alt="itemName" class="listing-image" id="listingimage">
    <h2 id="itemNametext">Item Name</h2>
    <p id="itemDescriptiontext">Item Description</p>
    <p id="itemPricetext">Price/p>
    <p id="itemCategorytext">Category</p>
    <p id="conditiontext">Condition</p>
    <p id="sellerIdtext">Seller ID</p>
    <button class="btn-add-to-cart">Add to Cart</button>
</div>

