<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Ducklink Dećor!</h1>
        <p>Your one-stop solution for buying and selling listings.</p>
        <div class="hero-buttons">
            <a href="/customer/browselistings" class="btn">Browse Listings</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </div>
</section>
    
</section>
