<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Ducklink Dećor!</h1>
        <p>Your one-stop solution for buying and selling listings.</p>
    </div>
</section>
    
<div class="slideshow-container">

<div class="mySlides fade">
  <img class="homeimages" src="https://i.pinimg.com/originals/0b/3d/29/0b3d29bdf65cdb3c6cda86536b39c92f.jpg">
</div>

<div class="mySlides fade">
  <img class="homeimages" src="https://i.pinimg.com/originals/27/ed/cd/27edcde8690640ffb8529a80db6fb67d.jpg">
</div>

<div class="mySlides fade">
  <img class="homeimages" src="https://www.thespruce.com/thmb/PIvBJyuU5bVnXCSDzU6l_TOsXR4=/1582x0/filters:no_upscale():max_bytes(150000):strip_icc()/Modern-Beach-House-Studio-80-589a4bcc5f9b5874eec896ea.png">
</div>

<div class="mySlides fade">
  <img class="homeimages" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/7e7cef92005617.5e7791fc90daf.jpg">
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
