<div class="maintopnav">
	<a href="home" id="mainducklingdecorhome">Duckling Décor</a>
	<input type="text" placeholder="Search..." />
	<button type="button">Sign Out</button>
	<button type="button">Sign In</button>
</div>

<p>test 1</p>