<div class="flex-col-centered">
	<h1>Log In As Seller</h1>
	<form action="/sellers/login" method="POST" id="sellerLogin" name="sellerLogin">
		<label for="sellerUsername">Business Name</label>
		<input type="text" id="sellerUsername" name="sellerUsername" required />
		<br />
		<label for="sellerPassword">Password</label>
		<input type="password" id="sellerPassword" name="sellerPssword" required />
		<br />
		<button type="submit" class="button" id="sellerLoginSubmit">Log In</button>
	</form>
	<div id="clientError" class="error" hidden>Error Message</div>
</div>