<div id="signupView">
    <h1>Sign Up</h1>
    <form id="signup-form" name="signup-form" action="/customers/signup" method="POST">

        <div class="formInputError" id="form-errors-div">
            {{#if hasErrors}}
                {{#each errors}}
                <p>{{this}}</p>
                {{/each}}
            {{/if}}
        </div>

        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="firstName" required />
        <br />

        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="lastName" required />
        <br />

        <label for="user-name">User ID:</label>
        <input type="text" id="user-name" name="userId" required />
        <br />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br />

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        <br />

        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="seller">Seller</option>
            <option value="customer">Customer</option>
        </select>
        <br />

        <button type="submit">Sign Up</button>
    </form>
</div>