<div id="signupView" class="flex-col-centered">
	<h1>Sign Up</h1>
	<div class="flex-col-centered w-50">
		<div class="tabs">
			<button
				class="signupTab active"
				data-tab="customerSignup"
			>Customers</button>
			<button class="signupTab" data-tab="sellerSignup">Sellers</button>
		</div>
		<form
			id="customerSignup"
			name="customerSignup"
			action="/customers/signup"
			method="POST"
			class="signupForm"
		>
			<label for="customerName">Name</label>
			<input type="text" id="customerName" name="customerName" required />

			<label for="customerUsername">Username</label>
			<input
				type="text"
				id="customerUsername"
				name="customerUsername"
				required
			/>

			<label for="customerPassword">Password</label>
			<input
				type="password"
				id="customerPassword"
				name="customerPassword"
				required
			/>

			<label for="customerConfirmPassword">Confirm Password</label>
			<input
				type="password"
				id="customerConfirmPassword"
				name="customerConfirmPassword"
				required
			/>

			<button
				id="customerSignupSubmit"
				name="customerSignupSubmit"
				type="submit"
				class="button"
			>Sign Up</button>
		</form>
		<form
			id="sellerSignup"
			name="sellerSignup"
			action="/sellers/signup"
			method="POST"
			class="signupForm hidden"
		>
			<label for="sellerBusinessName">Business Name</label>
			<input
				type="text"
				id="sellerBusinessName"
				name="sellerBusinessName"
				required
			/>

			<label for="sellerTown">Town</label>
			<input type="text" id="sellerTown" name="sellerTown" required />

			<label for="sellerUsername">Username</label>
			<input type="text" id="sellerUsername" name="sellerUsername" required />

			<label for="sellerPassword">Password</label>
			<input
				type="password"
				id="sellerPassword"
				name="sellerPassword"
				required
			/>

			<label for="confirmPassword">Confirm Password</label>
			<input
				type="password"
				id="sellerConfirmPassword"
				name="sellerConfirmPassword"
				required
			/>

			<button
				id="sellerSignupSubmit"
				name="sellerSignupSubmit"
				type="submit"
				class="button"
			>Sign Up</button>
		</form>
		<div id="clientError" class="error" hidden>Error Message</div>
	</div>
</div>