<h1>Your Cart</h1>
<p>Cart functionality is under construction. Check back soon!</p>



<form action="/customer/checkout" method="POST">
    <button type="submit" id="checkout">Check out</button>
</form>